*{
    margin: 0;
    padding: 0;
}

body{
    font: 100% normal Arial;
    background: #bbbbbb;
}

form, input, select, textarea{
    margin: 0;
    padding: 0;
    color: #ffffff
}

div.box{
    margin: 0 auto;
    width: 500px;
    background-color: #176ca6;
    top: 50px;
    border: 1px solid #262626;
}

div.box label{

    width: 100%;
    display: block;
    background: #176ca6;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #161712;
    padding: 10px 0 10px 0;
}

div.box .input_text{
    padding: 10px 10px;
    width: 200px;
    background-color: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
}

div.box .Mensagem{
    background-color: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #171717;
    border-right: 1px double #171717;
    padding: 7px 7px;
    width: 350px;
    height: 150px;
    overflow: hidden;
}


div.box .Button{
    margin: 0 0 10px 0;
    padding: 4px 7px;
    background: #660000;
    border: 0px;
    position: relative;
    top: 10px;
    left: 382px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #660000;
    border-right: 1px double #660000;    
    
}

div.box label span{
    color: #bbbbbb;
    font-size: 12px;
    width: 100px;
    padding: 5px 20px 0 0;
    display: block;
    text-align: right;
    float: left;
}


